<!DOCTYPE html>
<html lang=en>
 <head>
  <meta charset=UTF-8>
  <meta name=viewport
        content="width=device-width, initial-scale=1">
  <title>Scink</title>
  <link rel=stylesheet href=css/materialize.css>
  <link rel=stylesheet href=css/style.css>
 </head>
 <body>
  <div id=app>
   <span>Hello from <b><i>{{message}}!</i></b></span>
  </div>
  <script src=js/materialize.js></script>
  <script src=js/vue.js></script>
  <script src=js/script.js></script>
 </body>
</html>